<% content_for :title, @about_page.title %>

<section class="page-banner">
  <h1><%= @about_page.title %></h1>
</section>

<section class="about-page">
  <div class="about-content">
    <div class="about-text">
      <%= simple_format(@about_page.content) %>
    </div>

    <%= link_to "Shop All",
                root_path(anchor: "products"),
                class: "about-shop-button" %>
  </div>

  <div class="about-page-image">
    <% if @about_page.image.attached? %>
      <%= image_tag @about_page.image, alt: @about_page.title %>
    <% else %>
      <div class="about-image-placeholder">
        <span>Image coming soon</span>
      </div>
    <% end %>
  </div>
</section>